@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Данный сервис предназначен для поиска людей по интересам или ментора по интересующим технологиям.</p>
</div>
